<div class="sigin_up_message">
  <h4>ログインすると、トリセツの投稿やユーザー情報の閲覧ができるようになります！</h4>
  <%= link_to '新規登録する！', new_user_registration_path %>
  <%= link_to 'ログインする！', new_user_session_path %>
  
  <%= link_to 'クラブ一覧へ', clubs_path %>
</div>