<div class="top-contents">
  <div class="favorite_club">
    <span class="favorite_club_title">YOUR CLUB</span>
    <h1>選んだクラブ</h1>  
    <!--<p class="detail">みんなのクラブプロフィール</p> -->
    <!--simple format(model.column)で改行を認識させる-->
  </div>
  
  <div class="news">
    <span class="news_title">NEWS</span>
      <ul>
        <li>〇〇　〇〇の取扱説明書</li>
        <li>〇〇の取扱説明書</li>
        <li>〇〇　〇〇の取扱説明書</li>
      </ul>
  </div>
  
  <div class="players">
    <span class="players_title">PLAYERS</span>
    
      <div class="position GK">
        <span class="position_title GK">GK</span>
        <ul>
            
            <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
            <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>

        </ul>
      </div>
      
      <div class="position DF">
        <span class="position_title DF">DF</span>
        <ul>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
        </ul>
      </div>
      
      <div class="position MF">
        <span class="position_title MF">MF</span>
        <ul>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
        </ul>
      </div>
      
      <div class="position FW">
        <span class="position_title FW">FW</span>
        <ul>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
          <li><a href="#" class="btn-square-so-pop">〇〇　〇〇</a></li>
        </ul>
      </div>
      
    </div>
    
</div>