<div class="title_book">
  <div class="page_title_card">
    <h1>みんなでつくる</h1>
    <h1>Jのトリセツ</h1>
  </div>
  
  <div class="main_menu">
    <ul>
      <div class="user_session">
        <li><%= link_to 'ログイン', new_user_session_path, class:'btn-handwrite login_btn' %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class:'btn-handwrite signup_btn' %></li>
      </div>
      <li><%= link_to 'ログインせずにトリセツを読む', clubs_path, class:'btn-handwrite read_btn' %></li>
    </ul>
  </div>
</div>