<div class="users_show_contents">
  
  <div class="user_show title_card">
    <div class="user_name">
      <h1>namenamenamename<span>のページ</span></h1>
    </div>
  </div>
  
  
  <div class="user_manual">
    
    <div class="user_club">
      <h4>私のお気に入りクラブ</h4>
      <div class="fusen">
        <div class="fusen_content">
          <p>ジェフユナイテッド千葉</p>
        </div>
      </div>
    </div>
    
    <div class="user_detail">
      <h4>ごあいさつ</h4>
      <div class="fusen">
        <div class="fusen_content">
          <p>よろしくお願いします！！！！！！！！！！！！！！！</p>
        </div>
      </div>
    </div>
    
    <div class="user_birthday">
      <h4>誕生日</h4>
      <div class="fusen">
        <div class="fusen_content">
          <p>1990/05/10</p>
        </div>
      </div>
    </div>
    
    <div class="user_memorial_game">
      <h4>思い出の試合</h4>
      <div class="fusen">
        <div class="fusen_content">
          <p>2012/11/23　J1昇格プレーオフ　大分vs千葉</p>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
  