<div class="contents">
  <div class="main-contents">
    <div class="manuals_destroy_contents">
      
      <h2>トリセツを削除しました！</h2>
      
      <%= link_to '選手ページにもどる', player_path(@manual.player_id) %>
      
    </div>
  </div>
</div>