<div class="manuals_new_contents">
  
  <h2>トリセツの投稿</h2>
  <div class="manual_form">
    
    <form action="/manuals" method='post'>
      <div class="fusen">
        <div class="fusen_content">
          <textarea name="text" placeholder="トリセツを書きましょう！" rows="10" cols="70"></textarea>
          <input type="text" name="name" placeholder="名前を入力してください">
        </div>
      </div>
      <input type="submit" value="投稿！">
    </form>
    
  </div>
  
</div>