<div class="contents">
  <div class="main-contents">
    <div class="manuals_update_contents">
      
      <h2>トリセツを更新しました！</h2>
      
      <%= link_to '選手ページにもどる', player_path(@player.id) %>
      
    </div>
  </div>
</div>