<div class="players_show_contents">
  
  <div class="player_show title_card">
    <div class="player_data">
      <h1>佐藤　寿人<span>のトリセツ</span></h1>
    </div>
    <div class="fusen">
      <div class="fusen_content">
        <p>ポジション：FW</p>
      </div>
      <div class="fusen_content">
        <p>生年月日：1982/03/12</p>
      </div>
      <div class="fusen_content">
        <p>身長/体重：170/65</p>
      </div>
    </div>
  </div>
  
  <div class="player_manual fusen">
    
    <div class="fusen_content">
      <div class="manual_text" >
        <p>テストテストテストてすとてすとてすと</p>
      </div>
      <div class="manual_data">
        <div class="manual_btn">
          <i class="fas fa-thumbs-up"></i><span> 100</span>
        </div>
        <div class="posted_user">
          <p>POSTED_by: <span><a class="user_name">namenamenamenamename</span></a></p>
        </div>
      </div>
    </div>
    
    <div class="fusen_content">
      <div class="manual_text" >
        <p>テストテストテストてすとてすとてすと2</p>
      </div>
      <div class="manual_data">
        <div class="manual_btn">
          <i class="fas fa-thumbs-up"></i><span> 100</span>
        </div>
        <div class="posted_user">
          <p>POSTED_by: <span><a class="user_name">namenamenamenamename</span></a></p>
        </div>
      </div>
    </div>
    
    <div class="fusen_content">
      <div class="manual_text" >
        <p>テストテストテストてすとてすとてすと3</p>
      </div>
      <div class="manual_data">
        <div class="manual_btn">
          <i class="fas fa-thumbs-up"></i><span> 100</span>
        </div>
        <div class="posted_user">
          <p>POSTED_by: <span><a class="user_name">namenamenamenamename</span></a></p>
        </div>
      </div>
    </div>
    
  </div>
  
</div>
  