<div class="players_show_contents">
  
  <div class="player_name">
    <span class="player_position">GK</span>
    <h1>〇〇　〇〇</h1>
    
    <div class="player_data">
      <ul>
        <li>生年月日：　0000/00/00</li>
        <li>身長／体重：　000.0/00.0</li>
      </ul>
    </div>
  </div>
  
  <div class="manual">
    <ul>
      <li>
        <div class="manual_text">
          <p>ファンサービス最高！</p>
        </div>
        <div class="good_btn">
          <a href="#" class="btn-square-so-pop">good!</a>
          <a href="#" class="good_count">100</a>
        </div>
      </li>
    </ul>
  </div>
  
  
</div>
  