// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.players_show_contents {
  
}

.player_data {
  
}

.post_button {
  position: relative;
  top: 40px;
  margin: 3px 35%;
}

.player_data h1 {
  position: relative;
  margin: 12px 10px 12px 5px;
  font-size: 40px;
}

.player_data span {
  font-size: 0.5em;
}

.player_show .fusen {
  width: 800px;
  position: relative;
  left: 0px;
  z-index: 0;
  color: #000;
  display: flex;
}

.player_show .fusen .fusen_content {
  font-size: 1.0em;
  position: relative;
  margin: 0 0.4em;
  padding: 0em 0.5em;
}

.player_manual {
  width: 70%;
  position: relative;
  left: 40px;
  z-index: 0;
  margin: 50px 10px 20px 31px;
}

.player_manual .fusen_content {
  min-height: 100px;
  width: 500px;
}

.player_manual .manual_text {
  margin: 10px 10px 50px 65px;
  font-size: 1.2em;
  background: unset;
}

.player_manual .manual_data {
  margin-left: 60px;
  border-top: solid 1px #000;
  display: flex;
  background: unset;
}

.player_manual .good {
  display: flex;
  position: relative;
  left: 60px;
  top: 15px;
}

.player_manual .good .good_btn {
  margin-right: 10px;
}

.player_manual .good .good_btn_before:hover {
  color: #FF99FF;
}

.player_manual .good .good_btn_after {
  color: red;
}

.player_manual .good .good_btn_after:hover {
  color: #FF99FF;
}

.player_manual .posted_user {
  position: relative;
  left: 115px;
}

.player_manual .btn {
  position: relative;
  top: 15px;
  left: 150px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}