// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users_show_contents {
  
}

.user_data {
  
}

.user_name h1 {
  margin: 1em 0.1em;
  font-size: 40px;
}

.user_name span {
  font-size: 0.5em;
}

.news {
  width: 70%;
  position: relative;
  margin: 80px 10px 20px 72px;
  padding: 0.5em 1em;
  border: solid 3px #62c1ce;
  border-radius: 5px;
}

.news .news_title {
  position: absolute;
  display: inline-block;
  top: -25px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #62c1ce;
  color: #fff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.news ul {
  margin: 0;
  padding: 0;
}

.news ul li {
  background: linear-gradient(transparent 70%, #FFFF66 70%);
  margin-top: 0.3em;
}

.news ul li:hover {
  color: #FF6666;
}

.edit_button .btn-handwrite {
  width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user_manual {
  width: 70%;
  position: relative;
  left: 40px;
  z-index: 0;
  margin: 50px 10px 20px 31px;
}

.user_manual h4 {
  border-bottom: solid 2px #000;
}

.user_manual .fusen_content {
  width: 400px;
  height: 1.2em;
}

.user_manual .fusen_content p {
  position: relative;
  top: -15px;
  left: 48px;
  width: 88%;
}

.user_detail .fusen_content {
  height: 3.5em;
}

.user_club .club_btn {
  position: relative;
  text-align: center;
  border: solid 3px #000;
  margin: 0.5em;
  padding: 0.2em;
  background-color: #446689;
  color: #fff;
}

.user_club .club_btn:hover {
  color: #FF6666;
}